<!--<div class="layout-footer">-->
<!--  <div class="flex align-items-center justify-content-center">-->
<!--    <a-->
<!--      class="cursor-pointer block inline-flex justify-content-center align-items-center mr-5"-->
<!--      style="width: 2.5rem; height: 2.5rem"-->
<!--      ><i class="pi pi-twitter" style="font-size: 2rem"></i></a-->
<!--    ><a-->
<!--      class="cursor-pointer block inline-flex justify-content-center align-items-center mr-5"-->
<!--      style="width: 2.5rem; height: 2.5rem"-->
<!--      ><i class="pi pi-facebook" style="font-size: 2rem"></i></a-->
<!--    ><a-->
<!--      class="cursor-pointer block inline-flex justify-content-center align-items-center mr-5"-->
<!--      style="width: 2.5rem; height: 2.5rem"-->
<!--      ><i class="pi pi-linkedin" style="font-size: 2rem"></i></a-->
<!--    ><a-->
<!--      class="cursor-pointer block inline-flex justify-content-center align-items-center mr-5"-->
<!--      style="width: 2.5rem; height: 2.5rem"-->
<!--      ><i class="pi pi-telegram" style="font-size: 2rem"></i></a-->
<!--    ><a-->
<!--      class="cursor-pointer block inline-flex justify-content-center align-items-center"-->
<!--      style="width: 2.5rem; height: 2.5rem"-->
<!--      ><i class="pi pi-youtube" style="font-size: 2rem"></i-->
<!--    ></a>-->
<!--  </div>-->
<!--  <div class="ng-star-inserted">-->
<!--    <div class="px-4 py-4 md:px-6 lg:px-8">-->
<!--      <div class="text-center">-->
<!--        &lt;!&ndash;                    LOGO&ndash;&gt;-->
<!--        <div class="text-center">-->
<!--          <img src="/assets/demo/images/kerem_logo.png" alt="Image" height="95" />-->
<!--        </div>-->

<!--                        <ul class="list-none p-0 mx-0 my-5 flex justify-content-center flex-column align-items-center lg:flex-row">-->
<!--                            <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">About Us</a></li>-->
<!--                            <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">News</a></li>-->
<!--                            <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">Investor Relations</a></li>-->
<!--                            <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">Careers</a></li>-->
<!--                            <li><a class="text-600 cursor-pointer line-height-3">Media Kit</a></li>-->
<!--                        </ul>-->

<!--        <div class="text-center">-->
<!--          Tüm Hakları Saklıdır. © 2023-->
<!--          &lt;!&ndash;                <div class="text-center"><a class="mr-5 text-sm text-600 cursor-pointer">Çerez Politikası</a><a&ndash;&gt;-->
<!--          &lt;!&ndash;                        class="text-sm text-600 cursor-pointer">Aydınlatma Metni</a></div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
