<div style="margin-left: 2rem; margin-right: 2rem" class="container">
  <h1 style="margin-top: 3rem; font-weight: 800; color: #000000; font-size: 2.5rem; text-align: center;">KVKK Aydınlatma Metni</h1>


<div style="text-align: justify">

  <h2 class="wp-block-heading">1. Genel Hususlar</h2>



  <p><strong>Veri Sorumlusu:</strong> Dijital Sandık (“<strong>Dijital Sandık</strong>” veya “<strong>Uygulama</strong>”)</p>



  <p>Kişisel verilerin korunması, Uygulamamızin en önemli öncelikleri arasında olup, bu hususta yürürlükte bulunan tüm mevzuata uygun davranmak için azami gayret gösterilmektedir.</p>



  <p>İşbu Dijital Sandık Anonim Uygulamai Kişisel Verilerin Korunması ve İşlenmesi Politikası ve Aydınlatma Metni (“<strong>Politika ve Aydınlatma Metni</strong>”) çerçevesinde Uygulamamız tarafından gerçekleştirilen kişisel veri işleme faaliyetlerinin yürütülmesinde benimsenen ilkeler ve Uygulamamızin veri işleme faaliyetlerinin 6698 sayılı Kişisel Verilerin Korunması Kanunu’nda (“<strong>Kanun</strong>”) yer alan düzenlemelere uyumu bakımından benimsenen temel prensipler açıklanmakta ve böylelikle Uygulamamız, ilgili kişileri bilgilendirerek gerekli şeffaflığı sağlamaktadır. Bu kapsamdaki sorumluluğumuzun tam bilinci ile kişisel verileriniz işbu Politika ve Aydınlatma Metni kapsamında işlenmekte ve korunmaktadır.</p>



  <p>Bu Politika ve Aydınlatma Metni; ilgili kişilerin tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla işlenen tüm kişisel verilerine ilişkindir.&nbsp;<br>Bu Politika ve Aydınlatma Metni; Uygulamamız tarafından yayımlandığı tarih itibariyle geçerli olacaktır. Uygulamamız, Politika ve Aydınlatma Metni’nde gerekli olduğu takdirde her zaman değişiklik yapabilir. Yapılacak değişiklikler, Politika ve Aydınlatma Metni’nin <a href="https://www.dijitalsandik.com/#/kvkk/">https://www.dijitalsandik.com/#/kvkk/</a> adresinde yayımlanmasıyla birlikte derhal geçerlilik kazanır.</p>



  <h2 class="wp-block-heading">2. Kişisel Verilerin Korunmasına İlişkin Hususlar</h2>



  <h3 class="wp-block-heading">2.1. Kişisel Verilerin Güvenliğinin Sağlanması</h3>



  <p>Uygulamamız, Kanun’un 12. maddesine uygun olarak, kişisel verilerin hukuka aykırı olarak açıklanmasını, erişimini, aktarılmasını veya başka şekillerde meydana gelebilecek güvenlik eksikliklerini önlemek için, korunacak verinin niteliğine göre gerekli tedbirlerini almaktadır. Bu kapsamda Uygulamamız, Kişisel Verileri Koruma Kurulu (“Kurul”) tarafından yayımlanmış olan rehberlere uygun olarak gerekli güvenlik düzeyini sağlamaya yönelik ve idari tedbirleri almakta, denetimleri yapmakta veya yaptırmaktadır.</p>



  <h3 class="wp-block-heading">2.2. İş Birimlerinin Kişisel Verilerin Korunması ve İşlenmesi Konusunda Farkındalıklarının Arttırılması ve Denetimi</h3>



  <p>Dijital Sandık, kişisel verilerin hukuka aykırı olarak işlenmesini, kişisel verilere hukuka aykırı olarak erişilmesini önlemeye ve kişisel verilerin muhafazasını sağlamaya yönelik farkındalığın artırılması için iş birimlerine gerekli eğitimlerin düzenlenmesini sağlamaktadır.</p>



  <p>Dijital Sandık çalışanlarının kişisel verilerin korunması konusunda farkındalığının oluşması için gerekli sistemler kurulmakta, konuya ilişkin ihtiyaç duyulması halinde danışmanlar ile çalışmaktadır.</p>



  <h2 class="wp-block-heading">3. Kişisel Verilerin İşlenmesine İlişkin Hususlar</h2>



  <h3 class="wp-block-heading">3.1. Dijital Sandık Kullanıcıları için Veri Kategorileri</h3>



  <h4 class="wp-block-heading">3.1.1. Kimlik Bilgileri</h4>



  <p><strong>İşlenen Kişisel Veriler</strong></p>



  <p>İsim ve Soyisim, Profil Resmi, İşyeri Bilgisi</p>



  <p><strong>Kişisel Veri İşleme Amaçları</strong></p>



  <p>Müşteri İlişkileri Yönetimi; Müşteri İletişimi Sağlama; Müşteri Memnuniyetini Artırma; Müşteri Talep ve Şikayetlerin Takibi; Hizmet Satış Süreçlerinin Yürütülmesi; Hizmet Satış Sonrası Destek Sunulması; Sözleşme ve Üyelik Süreçlerinin Yürütülmesi; Finans ve Muhasebe Süreçlerinin Yürütülmesi; İş Faaliyetlerinin Mevzuata Uygun Yürütülmesi ve Denetimi; İş Stratejilerinin Planlanması ve Yürütülmesi; İş Sürekliliğinin Sağlanması Çalışmaların Yapılması; Reklam, Kampanya ve Promosyon Çalışmalarının Yapılması; Saklama ve Arşiv Çalışmalarının Yapılması; Hukuk İşlerinin Takibi ve Yürütülmesi; Yetkili Kişi, Kurum ve Kuruluşların Bilgilendirilmesi;&nbsp;</p>



  <p><strong>Kişisel Veri İşlemenin Hukuki Sebepleri</strong></p>



  <p>Bu kapsamdaki kişisel veriler, Uygulamamız tarafından yukarıda sayılan amaçların gerçekleştirilmesi için ilgili mevzuat ve KVKK’nın 5’inci maddesinde belirtilen;</p>



  <ul>
    <li>Kanunlarda açıkça öngörülmesi,</li>



    <li>Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,</li>



    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması ve</li>



    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması</li>
  </ul>



  <p>hukuki sebeplerine dayanılarak işlenmektedir. Yukarıda sıralanan amaçlar kapsamına girmeyen durumlarda kullanıcı verileri, Açık Rıza Metni ile detaylı olarak sunulan açık rızaya dayalı olarak işlenmektedir.</p>



  <p><strong>Kişisel Verilerin Toplanma Yöntemleri</strong></p>



  <p>Kimlik Bilgileri kategorisindeki kişisel veriler, servisimize üye olunması esnasında gösterilen üyelik formu, üye olunması sonrasında tercihe bağlı olarak kullanılabilen profil güncelleme ekranı ve formu ve üçüncü taraf kimlik doğrulama sistemleri (Google Login, Facebook Login vb.) vasıtası ile toplanmaktadır.</p>



  <h4 class="wp-block-heading">3.1.<strong>2. İletişim Bilgileri</strong></h4>



  <p><strong>İşlenen Kişisel Veriler</strong></p>



  <p>Elektronik Posta Adresi, Cep Telefonu Numarası</p>



  <p><strong>Kişisel Veri İşleme Amaçları</strong></p>



  <p>Müşteri İlişkileri Yönetimi; Müşteri İletişimi Sağlama; Müşteri Memnuniyetini Artırma; Müşteri Talep ve Şikayetlerin Takibi; Hizmet Satış Süreçlerinin Yürütülmesi; Hizmet Satış Sonrası Destek Sunulması; Finans ve Muhasebe Süreçlerinin Yürütülmesi; İş Faaliyetlerinin Mevzuata Uygun Yürütülmesi ve Denetimi; Bilgi Güvenliği Çalışmalarının Yapılması; Veri Sorumlusu Operasyonlarının Güvenliğinin Sağlanması; Pazarlama Çalışmalarının Yapılması; Reklam, Kampanya ve Promosyon Çalışmalarının Yapılması; Saklama ve Arşiv Çalışmalarının Yapılması; Hukuk İşlerinin Takibi ve Yürütülmesi; Yetkili Kişi, Kurum ve Kuruluşların Bilgilendirilmesi;</p>



  <p><strong>Kişisel Veri İşlemenin Hukuki Sebepleri</strong></p>



  <p>Bu kapsamdaki kişisel veriler, Uygulamamız tarafından yukarıda sayılan amaçların gerçekleştirilmesi için ilgili mevzuat ve KVKK’nın 5’inci maddesinde belirtilen;</p>



  <ul>
    <li>Kanunlarda açıkça öngörülmesi,</li>



    <li>Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,</li>



    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması ve</li>



    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması</li>
  </ul>



  <p>hukuki sebeplerine dayanılarak işlenmektedir. Yukarıda sıralanan amaçlar kapsamına girmeyen durumlarda kullanıcı verileri, Açık Rıza Metni ile detaylı olarak sunulan&nbsp; açık rızaya dayalı olarak işlenmektedir.</p>



  <p><strong>Kişisel Verilerin Toplanma Yöntemleri:</strong></p>



  <p>İletişim Bilgileri kategorisindeki kişisel veriler, servisimize üye olunması esnasında gösterilen üyelik formu, üye olunması sonrasında tercihe bağlı olarak kullanılabilen profil güncelleme ekranı ve formu ve üçüncü taraf kimlik doğrulama sistemleri (Google Login, Facebook Login vb.) vasıtası ile toplanmaktadır.</p>



  <h4 class="wp-block-heading">3.1.3. Hukuki İşlem Bilgileri</h4>



  <p><strong>İşlenen Kişisel Veriler</strong></p>



  <p>Uyuşmazlık Olması Halinde Dava Dosyasındaki Bilgiler, İhtarnameler, Adli ve İdari Makamlarla Yazışmalardaki Bilgiler</p>



  <p><strong>Kişisel Veri İşleme Amaçları</strong></p>



  <p>Müşteri Talep ve Şikayetlerin Takibi; Hizmet Sözleşme Süreçlerinin Yönetilmesi; İş Faaliyetlerinin Mevzuata Uygun Yürütülmesi ve Denetimi; Veri Sorumlusu Operasyonlarının Güvenliğinin Sağlanması; Saklama ve Arşiv Çalışmalarının Yapılması; Hukuk İşlerinin Takibi ve Yürütülmesi; Yetkili Kişi, Kurum ve Kuruluşların Bilgilendirilmesi;</p>



  <p><strong>Kişisel Veri İşlemenin Hukuki Sebepleri</strong></p>



  <p>Bu kapsamdaki kişisel veriler, Uygulamamız tarafından yukarıda sayılan amaçların gerçekleştirilmesi için ilgili mevzuat ve KVKK’nın 5’inci maddesinde belirtilen;</p>



  <ul>
    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması,</li>



    <li>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması ve</li>



    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması</li>
  </ul>



  <p>hukuki sebeplerine dayanılarak işlenmektedir.&nbsp;</p>



  <p><strong>Kişisel Verilerin Toplanma Yöntemleri</strong></p>



  <p>Hukuki İşlem Bilgileri kategorisindeki kişisel veriler adli ve idari makamlardan gelen resmi yazılar ve basılı / elektronik diğer belgeler vasıtası ile toplanmaktadır.</p>



  <h4 class="wp-block-heading">3.1.4. Müşteri İşlem Bilgileri</h4>



  <p><strong>İşlenen Kişisel Veriler</strong></p>



  <p>Fatura Bilgileri</p>



  <p><strong>Kişisel Veri İşleme Amaçları</strong></p>



  <p>Müşteri İlişkileri Yönetimi; Hizmet Satış Süreçlerinin Yürütülmesi; Hizmet Satış Sonrası Destek Sunulması; Hizmet Sözleşme Süreçlerinin Yönetilmesi; Finans ve Muhasebe Süreçlerinin Yürütülmesi; İş Faaliyetlerinin Mevzuata Uygun Yürütülmesi ve Denetimi; Saklama ve Arşiv Çalışmalarının Yapılması; Yetkili Kişi, Kurum ve Kuruluşların Bilgilendirilmesi;</p>



  <p><strong>Kişisel Veri İşlemenin Hukuki Sebepleri</strong></p>



  <p>Bu kapsamdaki kişisel veriler, Uygulamamız tarafından yukarıda sayılan amaçların gerçekleştirilmesi için ilgili mevzuat ve KVKK’nın 5’inci maddesinde belirtilen;</p>



  <ul>
    <li>Kanunlarda açıkça öngörülmesi,</li>



    <li>Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,</li>



    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması ve</li>



    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması</li>
  </ul>



  <p>hukuki sebeplerine dayanılarak işlenmektedir. Yukarıda sıralanan amaçlar kapsamına girmeyen durumlarda kullanıcı verileri, Açık Rıza Metni’nde detaylı olarak sunulan&nbsp; açık rızaya dayalı olarak işlenmektedir.</p>



  <p><strong>Kişisel Verilerin Toplanma Yöntemleri</strong></p>



  <p>Müşteri İşlem Bilgileri kategorisindeki kişisel veriler sadece kullanılan hizmet için ödeme yapılması durumunda fatura oluşturma arayüzü vasıtası ile toplanmaktadır.</p>



  <h4 class="wp-block-heading">3.1.5. İşlem Güvenliği Bilgileri</h4>



  <p><strong>İşlenen Kişisel Veriler:</strong></p>



  <p>IP Adresi Bilgileri, İnternet Sitesi Giriş Çıkış Bilgileri, Kullanıcı Adı Bilgileri, Şifre Bilgileri, Trafik Verileri (Bağlantı Zamanı, Bağlantı Süresi, Cihaz ve Tarayıcı Bilgisi vb.),</p>



  <p><strong>Kişisel Veri İşleme Amaçları:</strong></p>



  <p>Müşteri Talep ve Şikayetlerin Takibi; İş Faaliyetlerinin Mevzuata Uygun Yürütülmesi ve Denetimi; Bilgi Güvenliği Çalışmalarının Yapılması; Veri Sorumlusu Operasyonlarının Güvenliğinin Sağlanması; Saklama ve Arşiv Çalışmalarının Yapılması; Hukuk İşlerinin Takibi ve Yürütülmesi; Yetkili Kişi, Kurum ve Kuruluşların Bilgilendirilmesi;</p>



  <p><strong>Kişisel Veri İşlemenin Hukuki Sebepleri</strong></p>



  <p>Bu kapsamdaki kişisel veriler, Uygulamamız tarafından yukarıda sayılan amaçların gerçekleştirilmesi için ilgili mevzuat ve KVKK’nın 5’inci maddesinde belirtilen;</p>



  <ul>
    <li>Kanunlarda açıkça öngörülmesi,</li>



    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması ve</li>



    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması</li>
  </ul>



  <p>hukuki sebeplerine dayanılarak işlenmektedir. Yukarıda sıralanan amaçlar kapsamına girmeyen durumlarda kullanıcı verileri, Açık Rıza Metni ile detaylı olarak sunulan açık rızaya dayalı olarak işlenmektedir.</p>



  <p><strong>Kişisel Verilerin Toplanma Yöntemleri:</strong></p>



  <p>İşlem Güvenliği Bilgileri kategorisindeki kişisel bilgiler, kullanıcıların sunulan hizmeti kullandıkları süre boyunca kullanıcının oluşturduğu trafik üzerinden otomatik olarak bilgi güvenliği sistemleri ile toplanmaktadır.</p>



  <h4 class="wp-block-heading">3.1.6. Finans Bilgileri</h4>



  <p><strong>İşlenen Kişisel Veriler</strong></p>



  <p>Şifrelenmiş Kredi Kartı Bilgileri</p>



  <p><strong>Kişisel Veri İşleme Amaçları</strong></p>



  <p>Müşteri Talep ve Şikayetlerin Takibi; İş Faaliyetlerinin Mevzuata Uygun Yürütülmesi ve Denetimi; Bilgi Güvenliği Çalışmalarının Yapılması; Veri Sorumlusu Operasyonlarının Güvenliğinin Sağlanması; Saklama ve Arşiv Çalışmalarının Yapılması; Hukuk İşlerinin Takibi ve Yürütülmesi; Yetkili Kişi, Kurum ve Kuruluşların Bilgilendirilmesi;</p>



  <p><strong>Kişisel Veri İşlemenin Hukuki Sebepleri</strong></p>



  <p>Bu kapsamdaki kişisel veriler, Uygulamamız tarafından yukarıda sayılan amaçların gerçekleştirilmesi için ilgili mevzuat ve KVKK’nın 5’inci maddesinde belirtilen;</p>



  <ul>
    <li>Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,</li>



    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması ve</li>



    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması</li>
  </ul>



  <p>hukuki sebeplerine dayanılarak işlenmektedir. Yukarıda sıralanan amaçlar kapsamına girmeyen durumlarda kullanıcı verileri, Açık Rıza Metni ile&nbsp; detaylı olarak sunulan&nbsp; açık rızaya dayalı olarak işlenmektedir.</p>



  <p><strong>Kişisel Verilerin Toplanma Yöntemleri</strong></p>



  <p>Finans Bilgileri kategorisindeki kişisel veriler sadece kullanılan hizmet için ödeme yapılması durumunda kullanılan ödeme ve satış arayüzleri üzerinden toplanmaktadır.</p>



  <h3 class="wp-block-heading">3.2. Çevrimiçi Site Ziyaretçileri için Veri Kategorileri</h3>



  <h4 class="wp-block-heading">3.2.1. İşlem Güvenliği Bilgileri</h4>



  <p><strong>İşlenen Kişisel Veriler</strong></p>



  <p>IP Adresi Bilgileri, Trafik Verileri (Bağlantı Zamanı, Bağlantı Süresi, Cihaz ve Tarayıcı Bilgisi vb.),</p>



  <p><strong>Kişisel Veri İşleme Amaçları</strong></p>



  <p>Talep ve Şikayetlerin Takibi; İş Faaliyetlerinin Mevzuata Uygun Yürütülmesi ve Denetimi; Bilgi Güvenliği Çalışmalarının Yapılması; Yetkili Kişi, Kurum ve Kuruluşların Bilgilendirilmesi;</p>



  <p><strong>Kişisel Veri İşlemenin Hukuki Sebepleri</strong></p>



  <p>Bu kapsamdaki kişisel veriler, Uygulamamız tarafından yukarıda sayılan amaçların gerçekleştirilmesi için ilgili mevzuat ve KVKK’nın 5’inci maddesinde belirtilen;</p>



  <ul>
    <li>Kanunlarda açıkça öngörülmesi,</li>



    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması ve</li>



    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması</li>
  </ul>



  <p>hukuki sebeplerine dayanılarak işlenmektedir.&nbsp;</p>



  <p><strong>Kişisel Verilerin Toplanma Yöntemleri</strong></p>



  <p>İşlem Güvenliği Bilgileri kategorisindeki kişisel bilgiler, ziyaretçilerin site içinde geçirdikleri süre boyunca oluşturdukları trafik üzerinden otomatik olarak bilgi güvenliği sistemleri ile toplanmaktadır.</p>



  <h2 class="wp-block-heading">4. Kişisel Verilerin Aktarılması</h2>



  <p>Uygulamamız hukuka uygun olan kişisel veri işleme amaçları doğrultusunda gerekli güvenlik önlemlerini alarak ilgili kişinin kişisel verilerini üçüncü kişilere aktarabilmektedir. Uygulamamız bu doğrultuda Kanun’un “Kişisel Verilerin Aktarımı” başlıklı 8. maddesinde ve/veya “Kişisel Verilerin Yurt Dışına Aktarılması” başlıklı 9. Maddesinde öngörülen düzenlemelere uygun hareket etmektedir. Bu bağlamda kişisel veriler;</p>



  <ul>
    <li>İşlenme amacıyla sınırlı kalmak kaydı ile iş ortaklarına,</li>



    <li>Hukuki yükümlülüklerin yerine getirilebilmesi için yasal düzenlemeler ve mevzuat gereği yetkili kişi ve resmi kurumlara ve,</li>



    <li>Teknoloji alanındaki altyapı tedarikçileri tarafından sağlanan programlara ve/veya sistemlere kaydedilebilmektedir.</li>
  </ul>



  <h2 class="wp-block-heading">5. Kişisel Verilerin Saklanması ve İmhası</h2>



  <p>Uygulamamız, kişisel verileri işlendikleri amaç için gerekli olan süre ve ilgili faaliyetin tabi olduğu yasal mevzuatta öngörülen sürelere uygun olarak muhafaza etmektedir. Bu kapsamda, Uygulamamız öncelikle ilgili mevzuatta kişisel verilerin saklanması için bir süre öngörülüp öngörülmediğini tespit etmekte, bir süre belirlenmişse bu süreye uygun davranmaktadır. Yasal bir süre mevcut değil ise kişisel veriler işlendikleri amaç için gerekli olan süre kadar saklanmaktadır. Kişisel veriler belirlenen saklama sürelerinin sonunda periyodik imha sürelerine veya ilgili kişi başvurusuna uygun olarak ve belirlenen imha yöntemleri (silme ve/veya yok etme ve/veya anonimleştirme) ile imha edilmektedir.</p>



  <h2 class="wp-block-heading">6. İlgili Kişilerin Hakları ve Bu Hakların Kullanılması</h2>



  <h3 class="wp-block-heading">6.1. İlgili Kişinin Hakları</h3>



  <p>İlgili kişiler aşağıda yer alan haklara sahiptirler:</p>



  <ul>
    <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>



    <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>



    <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>



    <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>



    <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>



    <li>Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>



    <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>



    <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme.</li>
  </ul>




</div>
</div>
